# Entorno virtual
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuciones y empaquetados
build/
dist/
*.egg-info/

# Archivos de logs
*.log

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS específicos
.DS_Store
Thumbs.db

# Dependencias de Python empaquetadas
pip-wheel-metadata/
