flask
requests
python-dotenv
matplotlib
numpy
gunicorn
Werkzeug
Jinja2
itsdangerous
MarkupSafe
certifi
charset-normalizer
click
contourpy
cycler
fonttools
idna
kiwisolver
packaging
pillow
pyparsing
python-dateutil
six
urllib3