flask
flask-login
flask-sqlalchemy
flask-bcrypt
pymysql
requests
python-dotenv
matplotlib
numpy
beautifulsoup4
lxml
gunicorn
Werkzeug
Jinja2
itsdangerous
MarkupSafe
certifi
charset-normalizer
click
contourpy
cycler
fonttools
idna
kiwisolver
packaging
pillow
pyparsing
python-dateutil
six
urllib3
soupsieve